<div class ="main_content">
  <div class = "main_content-title">
  今後の流れについて
  </div>

  <div class = "main_content-message">
    <h3>このサイトは限定された業者さんのみアクセス可能です。</h3>
    <p>下記の資料をご準備いただきまして、03-5755-8373(東海運)までFAXしてください。</p><br>  
    <p>１、参加申込書（<%= link_to "申込書はここからダウンロード", asset_path("apply_form.pdf") %>）</p>
    <p>２、一般貨物自動車運送事業の許可書</p><br>
    <p>その後登録処理が完了しましたら、<%=current_user.driver%>さま（電話：<%=current_user.phone%>）へご連絡いたします。</p>
    <p>また、現在予約は火曜日と金曜日ですので、予約は前日の月曜日と木曜日の9:00から14:00の間で行なっております。</p>
    <br>
    <h3>今まで登録できていたのに、突然こちらの画面が表示されます場合、利用制限をさせて頂いきました。空予約が多い場合など、利用制限を設けさせていただいておりますのでご了承ください。</h3>
  </div>
</div>

<%= render 'layouts/footer/absolute'%>