<div class ="main_content">
  <div class= "main_content-message">
  <p>受付時間は９：００から１４：００です！もうしばらくお待ちください。</p>
  <p>新規登録をされて、書類をすでにFAXされた方については、すでに登録処理が完了しております。上記の通り予約受付時間内に再度アクセスしてください。</p>

  <p>（現在搬出予約は火曜日と木曜日と金曜日にて実施しております。月曜日と水曜日と木曜日の９：００から１４：００の間に再度アクセスしてください）</p>
  <p>もし時間になってもこの画面が登場する場合には、大変申し訳ありませんが東海運までお問い合わせ、ご連絡いただけましたら幸いです。</p>
  <h2>お電話番号：03-5755-8366（担当：光井、今藤）</h2>
  </div>
</div>
  <%= render 'layouts/footer/absolute'%>