.authority-main {
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
  .slot__set {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    .slot_selection {
      width: 200px;
      height: 40px;
      margin: 20px 20px;
    }
  }
  .position__slot {
    padding-bottom: 50px;
    border-bottom: 5px solid rgb(219, 150, 90);
    border-top: 5px solid rgb(219, 150, 90);
    text-align: left;
    width : -webkit-calc(30%-30px) ;
    margin-bottom: 80px;

    .slot_large {
      display: inline-block;
      li {
        list-style: none;
        max-width: 200px;
        max-height: 400px;
        border: solid 1px darkkhaki;
        margin-bottom: 2px;
        padding: 5px;
      }
    }
    p {
      margin: 10px 20px 0 0;
    }
    #begin_time {
      width:  200px;
      height: 40px;
      border-radius: 2px;
      padding-left: 5px;
    }

    .slot_large_2 {
      @extend .slot_large;
      li {
        background-color: rgb(238, 232, 148);
      }
    }
  
    #end_time {
      @extend #begin_time;
    }
    #max_num {
      @extend #begin_time;
    }
    #date {
      @extend #begin_time;
    }
    #vip {
      @extend #begin_time;
    }
  }

  .position__user {
    margin-right: 30px;
    width : -webkit-calc(70%) ;
    .users {
      margin: 8px 0;
      text-align: left;
      p {
        margin: 8px 0;
      }
    }
  }

}

