input {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  padding-left: 5px;
  .input-small {
    width: 50px;
  }
}

select {
  width: 450px;
  height: 40px;
  border-radius: 2px;
  padding-left: 5px;
}


